In [1]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import scipy
from scipy import stats
import pandas as pd

# Problem 1

The neural network (NN) makes fewer mistakes- it made 8 overall as opposed to the 12 that the new algorithm (NA) made. However, the NA is the better algorithm for the zoo because calling a bird a person is a more costly mistake than calling a person a bird, and the NA only called 1 bird a person compared to the 3 that the NN did.

In [2]:
print("New NN Truth Table:")
df_NN = pd.DataFrame([[93, 0],[6, 1]], index = pd.Index(['NN Bird','NN Person']), columns = pd.Index(['True Bird', 'True Person']))
df_NN.style

New NN Truth Table:

In [4]:
print("New NA Truth Table:")
df_NN = pd.DataFrame([[96, 0],[2, 1]], index = pd.Index(['NA Bird','NA Person']), columns = pd.Index(['True Bird', 'True Person']))
df_NN.style

New NA Truth Table:

# Problem 2

The pdf of the sum of two (identical) exponential distributions is an Erlang distribution, which is then a special case of the gamma distribution (Wikipedia).
<br><br>
The pdf of the ratio of two zero-mean unity variance Gaussians is the standard Cauchy distribution (Wikipedia).
<br><br>
The amplitude of a 2D Gaussian ($Z = (X^{2} + Y^{2})^{1/2}$, where X and Y are Gaussian distributions) is a Rayleigh distribution (Wikipedia).